.premiumSubContainer {
  display: flex;
  border-radius: 25px;
  background-image: linear-gradient(to bottom left, #d1dfec, #4682b4);
  color: black;
  box-shadow: 0px 5px 9px #888888;
}
.title {
  margin: 3vw 3vw 3vw 3vw;
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0vw 0vw 3vw 0vw;
}

.item {
  margin-top: 1vw;
}

.price {
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 3vw;
}

.button {
  border: 1.75px solid;
  height: 45px;
  width: 150px;
  flex-grow: 0;
  border-radius: 24px;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
  background-color: #b0c4de;
}
