.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.contactContainer {
  height: 5vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gitHub {
  padding-left: 5vw;
  padding-right: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  font-size: 15px;
}
.gitHub:hover,
.email:hover {
  cursor: pointer;
}

.links {
  padding-left: 5px;
  font-size: 16px;
}
.email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.myEmail {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.footerTitle {
  font-family: "Cinzel", serif;
  text-align: center;
  color: #386890;
}
